.ng_il.drag_drop .il_viewport {
    /* background-image: url(map.jpg); */
    min-height: 0;
    width: 700px;
    height: 450px;
    background-color: #FAFAFA;
}

.ng_il.drag_drop .modal_holder {
    margin-left: -20px;
}

.ng_il.drag_drop .bin {
    border-radius: 4px;
    width: 180px !important;
    height: 119px !important;
    margin: 10px 0 0 -10px;
    position: absolute;
    box-shadow: 1px 1px 2px #0f100a;
}

.ng_il.drag_drop .bin.col {
    float: none !important;
}

.ng_il.drag_drop .il_question {
    width: 100px;
    min-height: 0 !important;
    height: 120px !important;
}

.ng_il.drag_drop h2 {
    display: none;
}

.il_dragdrop_items {
    position: relative;
    display: inline-block;
    top: 32px;
    /* right: -19px; */
    width: 20%;
    z-index: 100;
    padding: 0 !important;
    margin: 0;
    min-height: 200px;
}

.ng_il.drag_drop .il_dragdrop_items .il_btn {
    border: 3px solid #9F243D !important;
    background-color: white !important;
    background-image: none !important;
    color: #173348 !important;
    font-weight: bold !important;
    margin-right: 3px;
    margin-bottom: 3px;
    height: 40px !important;
}

.ui-droppable {
    z-index: 0;
    padding: 0 !important;
    /* margin: 0 auto !important; */
}

.ng_il.drag_drop .il_btns {
    position: relative;
    /* right: 0 !important; */
    /* bottom: 0 !important; */
    left: auto !important;
    float: right;
    width: 100px;
    height: 50px;
    z-index: 9999;
}

.ng_il.drag_drop .il_btn {
    border: none;
    background-color: #DDD;
    background-image: none;
    color: #4c4c4c;
    font-weight: bold;
    padding-top: 8px;
}

.ng_il.drag_drop .ui-droppable .il_btn {
    border: none !important;
    background-color: transparent !important;
    color: #173348 !important;
    font-weight: bold !important;
}

.ng_il.drag_drop .ui-droppable .il_btn {
    margin-top: -12px;
    margin-left: -8px;
}


.ui-droppable {
    padding: 0;
    margin: 2px auto;
    text-align: center;
    min-height: 0;
}

.ng_il.drag_drop .il_question_wrapper {
    height: 450px;
    width: 100%;
}

.ng_il.drag_drop .il_question {
    opacity: 1;
    width: 100%;
}

.dragdrop {
    /* padding-top: 150px; */
    position: relative;
    height: 380px;
    width: 650px;
}


.ng_il.drag_drop button.il_wb_submit {
    display: none;
}

.ng_il.drag_drop button.il_wb_submit,
.ng_il.drag_drop button.il_wb_restart_btn {
    /* z-index: 999; */
    position: relative;
    /* right: 30px; */
    /* top: -35px; */
    /* width: 70px; */
    border-radius: 4px;
    height: auto !important;
    /* bottom: 4px !important; */
    margin: 0 auto;
}


/* M&eacute;xico */
.ng_il.drag_drop .bin:nth-child(2) {
    top: 10px;
    left: 200px;
}

/* Honduras */
.ng_il.drag_drop .bin:nth-child(3) {
    top: 10px;
    left: 400px;
}

/* Guatemala */
.ng_il.drag_drop .bin:nth-child(4) {
    top: 140px;
    left: 200px;
}

/* El Salvador */
.ng_il.drag_drop .bin:nth-child(5) {
    top: 140px;
    left: 400px;
}

/* Nicaragua */
.ng_il.drag_drop .bin:nth-child(6) {
    top: 270px;
    left: 200px;
}

/* Costa Rica */
.ng_il.drag_drop .bin:nth-child(7) {
    top: 275px;
    left: 350px;
}

/* Panam&aacute; */
.ng_il.drag_drop .bin:nth-child(8) {
    top: 325px;
    left: 200px;
}


#custom_textVersion li {
    margin-left: 20px;
}


#custom_textVersion {
    margin: 10px 0;
}



.il_question.ng-pristine.ng-untouched.ng-valid.ui-droppable {
    z-index: 0;
    min-height: 110px;
    border: none !important;
    /* border-radius: 0 0 15px 15px; */
    margin-top: -20px;
    padding: 15px;
    background: #FFF;
    border-radius: none !important;
    margin-top: -130px;
    margin-left: 0px;
}

.ng_il.drag_drop .il_header {
    display: contents;
    color: #000;
}

.ng_il.drag_drop .il_textversion .fev_copy.copyright {
    display: none;
}

.ng_il.drag_drop .fev_copy.copyright {
    text-align: left;
    margin-top: -14px;
    padding-left: 2px;
    background: #ffffff8a;
    display: block;
    position: relative;
    border-radius: 0;
    padding: 2px;
}

/* fev */
/*.ng_il.drag_drop .ui-droppable .il_btn:nth-child(4){
    margin-top:-140px;
}*/

/* .ng_il.drag_drop .bin:nth-child(5) .ui-droppable .il_btn{
  margin-top: -40px;
} */