.ng_il .il_viewport {
    /* background-image: url(map.jpg); */
    min-height: 0;
    width: 700px;
    height: 500px;
    background-color: #FAFAFA;
}

.ng_il .modal_holder {
    margin-left: -20px;
}

/* .ng_il .bin {
    border-radius: 4px;
    width: 180px !important;
    height: 43px !important;
    margin: 10px 0 0 -10px;
    position: absolute;
    box-shadow: 1px 1px 2px #000;
} */

.ng_il .bin {
    border-radius: 4px;
    width: 165px !important;
    height: 30px !important;
    margin: 10px 0 0 -10px;
    position: absolute;
    /* box-shadow: 0px 0px 2px #927d81; */
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 5px;
}


.ng_il .bin.col {
    float: none !important;
}

.il_question {
    width: 100px;
    min-height: 0 !important;
    height: 25px !important;
}

.ng_il h2 {
    display: none;
}

.il_dragdrop_items {
    position: relative;
    display: inline-block;
    top: -20px;
    right: -15px;
    width: 20%;
    z-index: 100;
    padding: 0 !important;
    margin: 0;
    min-height: 242px;
}

.ng_il .il_dragdrop_items .il_btn {
    border: 3px solid #9F243D !important;
    background-color: white !important;
    background-image: none !important;
    color: #173348 !important;
    font-weight: bold !important;
    margin-right: 3px;
    margin-bottom: 12px;
    height: 40px !important;
    min-width: 105px;
}

.ui-droppable {
    z-index: 0;
    padding: 0 !important;
    /* margin: 0 auto !important; */
}

.ng_il .il_btns {
    position: relative;
     right: -10px !important; 
    /* bottom: 0 !important; */
    left: auto !important;
    float: right;
    width: 152px;
    height: 50px;
    z-index: 200;
    bottom: -35px !important;
}

.ng_il .il_btn {
    border: none;
    background-color: #DDD;
    background-image: none;
    color: #4c4c4c;
    font-weight: bold;
    padding-top: 8px;
}

.ng_il .ui-droppable .il_btn {
    position: relative;
    border: none !important;
    background-color: transparent !important;
    color: #173348 !important;
    font-weight: bold !important;
    padding: 0;
    /* margin-left: 145px;    
    margin-top: 2px; */
    width: 100%;
    margin: 0 auto;
}

.ui-droppable {
    padding: 0;
    margin: 2px auto;
    text-align: center;
    min-height: 0;
}

.ng_il .il_question_wrapper {
    height: 300px;
    width: 100%;
}

.ng_il .il_question {
    opacity: 1;
    width: 100%;
}

.dragdrop {
    /* padding-top: 150px; */
    position: relative;
    height: 380px;
    width: 650px;
}


/* .ng_il button.il_wb_submit {
    display: none;
} */

.ng_il button.il_wb_submit,
.ng_il button.il_wb_restart_btn {
    position: relative;
    border-radius: 4px;
    height: auto !important;  
    margin: 0 auto;
}



.ng_il .bin:nth-child(2) {
    top: 0px;
    left: 200px;
}

/* .ng_il .bin:nth-child(2) .ui-droppable .il_btn {
    margin-left: 80px;       
} */

.ng_il .bin:nth-child(3) {
    top: 50px;
    left: 200px;
}

/* .ng_il .bin:nth-child(3) .ui-droppable .il_btn {
    margin-left: 64px;     
} */

.ng_il .bin:nth-child(4) {
    top: 100px;
    left: 200px;
}

/* .ng_il .bin:nth-child(4) .ui-droppable .il_btn {
    margin-left: 0;       
} */

/* El Salvador */
.ng_il .bin:nth-child(5) {
    top: 150px;
    left: 200px;
}

/* .ng_il .bin:nth-child(5) .ui-droppable .il_btn {
    margin-left: 17px;       
} */

/* Nicaragua */
.ng_il .bin:nth-child(6) {
    top: 200px;
    left: 200px;
}

/* Costa Rica */
.ng_il .bin:nth-child(7) {
    top: 250px;
    left: 200px;
}

/* Panam&aacute; */
.ng_il .bin:nth-child(8) {
    top: 300px;
    left: 200px;
}

.ng_il .bin:nth-child(9) {
    top: 350px;
    left: 200px;
}

.ng_il .bin:nth-child(10) {
    top: 400px;
    left: 200px;
} 


#custom_textVersion li {
    margin-left: 20px;
}


#custom_textVersion {
    margin: 10px 0;
}



.il_question.ng-pristine.ng-untouched.ng-valid.ui-droppable {
    z-index: 0;
    min-height: 110px;
    border: none !important;
    /* margin-top: -20px; */
    padding: 15px;
    background: #FFF;
     border-radius: 5px;
    box-shadow: 0px 0px 2px #927d81;
    margin-top: -20px;
    margin-left: 145px;
}

.ng_il .il_header {
    display: contents;
    color: #000;
}


.ng_il .il_navigation{
    display: none;
}