.pull-left {
    margin-top: 30px;
}

.wp-caption {
    max-width: 100px;
    margin-bottom: 20px;
}

.wp-caption .wp-caption-text {
    width: 100%;
}


#cboxLoadedContent .vocab_img {
    max-width: 120px;
    margin-right: 10px;
}