
div.activeInteractive {
    padding: 0;
}

div.activeInteractive iframe {
    border: 3px solid #eeeeef !important;
    border-radius: 0 !important;
}


.infograph {
	position: relative;
	width:700px;
	height: 920px;
	margin: 0 auto;
	overflow: hidden;
}

.infograph img{
 width: 100%;
}

.dialog1 {
	position: absolute;
    width: 213px;
    height: 241px;
    left: 475px;
    top: 31px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}
.dialog2 {
	position: absolute;
    width: 230px;
    height: 245px;
    left: 18px;
    top: 340px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}
.dialog3 {
	position: absolute;
    width: 275px;
    height: 228px;
    left: 386px;
    top: 657px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}
 /* @media (max-width: 1199px) {
	.infograph {
		width: 100%;
		height: 704px;
	}
	.dialog1 {
		width: 217px;
		height: 223px;
		top: 66px;
		left: 115px;
	}
	.dialog2 {
		width: 214px;
		height: 254px;
		top: 162px;
		left: 437px;
	}
}
@media (max-width: 991px) {
	.infograph {
		height: 593px;
	}
	.dialog1 {
		left: 84px;
		top: 50px;
		width: 170px;
		height: 171px;
	}
	.dialog2 {
		left: 329px;
		top: 125px;
		width: 167px;
		height: 192px;
	}
}
@media (max-width: 768px) {
	.infograph {
		height: 593px;
	}
	.dialog1 {
		left: 102px;
		top: 59px;
		width: 195px;
		height: 194px;
	}
	.dialog2 {
		left: 388px;
		top: 153px;
		width: 194px;
		height: 225px;
	}
} */