<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>TMP: Page 2</title>
    <script type="text/javascript">
        var pg_csslibs = []; // CSS Libs for this Page
        var pg_jslibs = []; // JS Libs for this Page
    </script>
    <script src="../../global/js/settings.js" id="settingJS" type="text/javascript"></script>
</head>

<body>
    <div id="pageContent">
        <!-- CONTENT GOES HERE -->
        <h1>Panels, Wells and Content Blocks</h1>
        <hr />
        <div class="well assignment">
            <div class="icon_local" data-icon="icon_assignment" data-alt="assignment icon"></div>
            <div class="content">
                <h2><span class="lang" data-term="assignment_name:uc">Assignment</span></h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well assignment&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_assignment&quot; data-alt=&quot;assignment icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Assignment&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well cognates">
            <div class="icon_local" data-icon="icon_cognates" data-alt="cognates icon"></div>
            <div class="content">
                <h2>Cognates</h2>
                <p>...</p>
            </div>
        </div>
        <pre>
&lt;div class=&quot;well cognates&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_cognates&quot; data-alt=&quot;cognates icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
    &lt;h2&gt;Cognates&lt;/h2&gt;
    &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        <div class="well notes">
            <div class="icon_local" data-icon="icon_notes" data-alt="notes icon"></div>
            <div class="content">
                <h2>Notes</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well notes&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_notes&quot; data-alt=&quot;notes icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Notes&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well said">
            <div class="icon_local" data-icon="icon_said" data-alt="it is also said for icon"></div>
            <div class="content">
                <h2>It is also said for&hellip;</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well said&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_said&quot; data-alt=&quot;it is also said for icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;It is also said for&hellip;&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well translation">
            <div class="icon_local" data-icon="icon_translation" data-alt="translation globe icon"></div>
            <div class="content">
                <h2>Translation Globe</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well translation&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_translation&quot; data-alt=&quot;translation globe icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Translation Globe&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well know">
            <div class="icon_local" data-icon="icon_know" data-alt="did you know icon"></div>
            <div class="content row">
                <div class="col-sm-9">
                    <h2>Did You Know?</h2>
                    <p>...</p>
                </div>
                <div class="col-sm-3 knowbottom">
                    <div class="icon_local right" data-icon="icon_knowright" data-alt="did you know right side icon"></div>
                </div>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well know&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_know&quot; data-alt=&quot;did you know icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content row&quot;&gt;
        &lt;div class=&quot;col-sm-9&quot;&gt;
            &lt;h2&gt;Did You Know?&lt;/h2&gt;
            &lt;p&gt;...&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 knowbottom&quot;&gt;
            &lt;div class=&quot;icon_local right&quot; data-icon=&quot;icon_knowright&quot; data-alt=&quot;did you know right side icon&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well think">
            <div class="icon_local" data-icon="icon_think" data-alt="think and apply icon"></div>
            <div class="content">
                <h2>Think and Apply</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well think&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_think&quot; data-alt=&quot;think and apply icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Think and Apply&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well hint">
            <div class="icon_local" data-icon="icon_hint" data-alt="hint icon"></div>
            <div class="content">
                <h2>Helpful Hint</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well hint&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_hint&quot; data-alt=&quot;hint icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Helpful Hint&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well toolbox">
            <div class="icon_local" data-icon="icon_toolbox" data-alt="toolbox icon"></div>
            <div class="content">
                <h2>Toolbox</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well toolbox&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_toolbox&quot; data-alt=&quot;toolbox icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Toolbox&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well resources">
            <div class="icon_local" data-icon="icon_resources" data-alt="resources icon"></div>
            <div class="content">
                <h2>Resources</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well resources&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_resources&quot; data-alt=&quot;resources icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Resources&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well collaboration">
            <div class="icon_local" data-icon="icon_collaboration" data-alt="collaboration icon"></div>
            <div class="content">
                <h2>Collaboration</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well collaboration&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_collaboration&quot; data-alt=&quot;collaboration icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Collaboration&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <div class="well selfcheck">
            <div class="icon_local" data-icon="icon_selfcheck" data-alt="self-check icon"></div>
            <div class="content">
                <h2>Self-Check</h2>
                <p>...</p>
            </div>
        </div>
        <div class="highlight">
            <pre>
&lt;div class=&quot;well selfcheck&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_selfcheck&quot; data-alt=&quot;self-check icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Self-Check&lt;/h2&gt;
        &lt;p&gt;...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
        </pre>
        </div>
        <!--    <div class="well objective">-->
        <!--        <div class="icon" data-icon="icon_objectives"  data-alt="Objective Icon" ></div>-->
        <!--        <div class="content">-->
        <!--            <h2>Objective</h2>-->
        <!--            <p>This is information for this Objective.</p>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div class="well overview">-->
        <!--        <div class="icon" data-icon="icon_assignment"></div>-->
        <!--        <div class="content">-->
        <!--            <h2>Overview</h2>-->
        <!--            <p>This is information for this Overview.</p>-->
        <!--        </div>-->
        <!--    </div>-->
        <!-- END CONTENT -->
        <br />
        <a href="#" class="sneak_peek_button">Link goes here</a>
        <div class="highlight">
            <pre>
&lt;a href=&quot;#&quot; class=&quot;sneak_peek_button&quot;&gt;Link goes here&lt;/a&gt;
        </pre>
        </div>
    </div>
</body>

</html>