
.nr-grey{
    background-color: #fdf8ff;
}

.lg-grey{
    background-color: #ececec;
}

.dk-grey{
    background-color: #f1d1ff;
}




/* .grey{
    background-color: #fbf2ff !important;
}
.dgrey{
    background-color: #f7e2ff;
}
.green{
    background-color: #f1cfff !important;
} */