#flipcard01 .fev-wrapper {
  width: 630px;
  height: 343px;
  /* background-color: darkgrey; */
}

/* .fev-wrapper .il_textbtn.il_btn {
  margin-left: -15px;
} */

/* #card_01 {
  width: 160px;
  height: 200px;
}

#card_02 {
  width: 160px;
  height: 200px;
} */

