<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>TMP: Page 2</title>
    <script type="text/javascript">
        var pg_csslibs = []; // CSS Libs for this Page
        var pg_jslibs = []; // JS Libs for this Page
    </script>
    <script src="../../global/js/settings.js" id="settingJS" type="text/javascript"></script>
</head>

<body>
<div id="pageContent">
    <!-- CONTENT GOES HERE -->
    <h1>Panels, Wells and Content Blocks</h1>
    <hr/>
<!--    <div class="panel panel-default">-->
<!--        <div class="panel-body">-->
<!--            Basic panel example-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="panel panel-default">-->
<!--        <div class="panel-heading">-->
<!--            <h3 class="panel-title">Panel title</h3>-->
<!--        </div>-->
<!--        <div class="panel-body">-->
<!--            Panel content-->
<!--        </div>-->
<!--        <div class="panel-footer">Panel footer</div>-->
<!--    </div>-->
<!--    <div class="well">Default well.</div>-->
<!--    <div class="well infobox">-->
<!--        <div class="icon" data-icon="icon_alert"></div>-->
<!--        <div class="content">-->
<!--            <h3><strong>Remember!</strong></h3>-->
<!--            <p>HTML is not a true programming language. In other words, you can&rsquo;t compute the sum of 2 + 2 in-->
<!--                HTML, but you can create a web site with it.</p>-->
<!--        </div>-->
<!--    </div>-->
    <br />
    <br />
    <br />
    <div class="well assignment">
        <div class="icon_local" data-icon="icon_assignment" data-alt="Assignment Icon"></div>
        <div class="content">
            <h2>Assignment</h2>
            <p>Assignment instructions.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well assignment&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_assignment&quot; data-alt=&quot;Assignment Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Assignment&lt;/h2&gt;
        &lt;p&gt;Assignment instructions.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well know">
        <div class="icon_local" data-icon="icon_know" data-alt="Know Icon"></div>
        <div class="content row">
            <div class="col-sm-9">
                <h2>Did You Know</h2>
                <p>Did You Know well.</p>
                <p>Did You Know well.</p>
                <p>Did You Know well.</p>
            </div>
            <div class="col-sm-3 bottom">
                <div class="icon_local" data-icon="icon_knowright"></div>
            </div>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well know&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_know&quot; data-alt=&quot;Know Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content row&quot;&gt;
        &lt;div class=&quot;col-sm-9&quot;&gt;
            &lt;h2&gt;Did You Know&lt;/h2&gt;
            &lt;p&gt;Did You Know well.&lt;/p&gt;
            &lt;p&gt;Did You Know well.&lt;/p&gt;
            &lt;p&gt;Did You Know well.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 bottom&quot;&gt;
            &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_knowright&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well cognates2">
        <div class="icon_local" data-icon="icon_cognates" data-alt="Cognates Icon"></div>
        <div class="content">
            <h2>Cognates2</h2>
            <p>Updated cognates well.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well cognates2&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_cognates&quot; data-alt=&quot;Cognates Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Cognates2&lt;/h2&gt;
        &lt;p&gt;Updated cognates well.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well toolbox center-block">
        <div class="icon_local" data-icon="icon_toolbox" data-alt="Toolbox Icon"></div>
        <div class="content">
            <h2>Toolbox</h2>
            <p>Content for "Toolbox" block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well toolbox center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_toolbox&quot; data-alt=&quot;Toolbox Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Toolbox&lt;/h2&gt;
        &lt;p&gt;Content for &quot;Toolbox&quot; block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well said center-block">
        <div class="icon_local" data-icon="icon_speech" data-alt="Speech Icon"></div>
        <div class="content">
            <h2>It is also Said for&hellip;</h2>
            <p>Content for "It is also Said for&hellip;" block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well said center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_speech&quot; data-alt=&quot;Speech Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;It is also Said for&hellip;&lt;/h2&gt;
        &lt;p&gt;Content for &quot;It is also Said for&hellip;&quot; block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well translation center-block">
        <div class="icon_local" data-icon="icon_globe" data-alt="Translation Icon"></div>
        <div class="content">
            <h2>Translation Globe</h2>
            <p>Translation Globe block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well translation center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_globe&quot; data-alt=&quot;Translation Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Translation Globe&lt;/h2&gt;
        &lt;p&gt;Translation Globe block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well notes2 center-block">
        <div class="icon_local" data-icon="icon_notes2" data-alt="Notes Icon"></div>
        <div class="content">
            <h2>Notes</h2>
            <p>Notes block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well notes2 center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_notes2&quot; data-alt=&quot;Notes Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Notes&lt;/h2&gt;
        &lt;p&gt;Notes block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well important2 center-block">
        <div class="icon_local" data-icon="icon_important2" data-alt="Important Icon"></div>
        <div class="content">
            <h2>Important</h2>
            <p>Important block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well important2 center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_important2&quot; data-alt=&quot;Important Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Important&lt;/h2&gt;
        &lt;p&gt;Important block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well think center-block">
        <div class="icon_local" data-icon="icon_think" data-alt="Think and Apply Icon"></div>
        <div class="content">
            <h2>Think and Apply</h2>
            <p>Think and Apply block.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well think center-block&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_think&quot; data-alt=&quot;Think and Apply Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;h2&gt;Think and Apply&lt;/h2&gt;
        &lt;p&gt;Think and Apply block.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br />
    <br />
    <br />
    <div class="well head">
        <div class="icon_local" data-icon="icon_head" data-alt="Head Icon"></div>
        <div class="content">
            <p>Statue head text. Statue head text. Statue head text. Statue head text. Statue head text. Statue head text.</p>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class=&quot;well head&quot;&gt;
    &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_head&quot; data-alt=&quot;Head Icon&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;p&gt;Statue head text. Statue head text. Statue head text. Statue head text. Statue head text. Statue head text.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
<!--    <div class="well objective">-->
<!--        <div class="icon" data-icon="icon_objectives" data-alt="Objective Icon"></div>-->
<!--        <div class="content">-->
<!--            <h2>Objective</h2>-->
<!--            <p>This is information for this Objective.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="well overview">-->
<!--        <div class="icon" data-icon="icon_assignment"></div>-->
<!--        <div class="content">-->
<!--            <h2>Overview</h2>-->
<!--            <p>This is information for this Overview.</p>-->
<!--        </div>-->
<!--    </div>-->
    <!-- END CONTENT -->
</div>
</body>
</html>
