 .mejs-container {
        width: 800px !important;
    }
 @media (max-width: 1024px) {
     .mejs-container {
         width: 700px !important;
     }
 }
 @media (max-width: 768px) {
     .mejs-container {
         width: 600px !important;
     }
 }