
#matching0 {
    max-width: 798px;
}
#matching0 .viewport {
    max-width: 100%;
}

/*
#marker0.ng_il .markerPopup {    
	padding: 30px 20px 45px 20px;
}

#marker0.ng_il .markerPopup .row {    
	margin-bottom: 15px;
}

#marker0.ng_il .markerPopup .row .col-sm-5, .col-sm-7 {    
	margin-bottom: 5px;
}

#marker0.ng_il .markerPopupClose {
	height: 35px;
}

table.table tbody tr:first-child td{
	padding-top: 10px;
}

table.table tbody td:first-child {
    padding-left: 10px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td {
	padding: 10px;
}

.table > tbody > tr:last-child > td {
    padding-bottom: 10px;
}

.ng_il .col-xs-6 {
    width: 57%;
}




/* vocab 3
a:hover {
    background-color: #ffffff00;
}
main a:hover {
    border-radius: 0px;
}
main a {
     padding: 0px; 
}
.image-container img {
    border-radius: 0px;
}
.wp-caption-text {  
    bottom: 25px;
}
.wp-caption .wp-caption-text {
    width: 116px !important;
}
#cboxWrapper,#colorbox {
    height: 470px !important;
}
#cboxLoadedContent {
    height: 400px !important;
}
#cboxMiddleLeft,#cboxMiddleRight{
    height: 400px !important;
}
#colorbox{
    top: 147px !important;
}
.sptFrame {    
    width: 45%;
}
.table {
    width: 100%;
    margin-bottom: 10px;
    max-width: 255px;
}
 */