.mt-8 {
    margin-top: 80px !important;
}
.mt-10 {
    margin-top: 100px !important;
}
.mt-11 {
    margin-top: 110px !important;
}
.mt-18 {
    margin-top: 180px !important;
}
.mb-6{
    margin-bottom: 60px !important;
}
.mb-10{
    margin-bottom: 100px !important;
}
.mb-12{
    margin-bottom: 120px !important;
}
